#pane {
    -fx-background-color: #191919;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

#header_label {
    -fx-text-fill: #FDEBAE;
    -fx-font-weight: 500;
}

#header_label_second {
    -fx-text-fill: #FD824E;
    -fx-font-size: 15;
}

#textbox {
    -fx-background-color: transparent;
    -fx-text-fill: #FDEBAE;
    -fx-font-size: 14;
}

#stroke {
    -fx-stroke: #E58D57;
    -fx-stroke-width: 2;
}

#button {
    -fx-alignment: center;
    -fx-background-radius: 5;
    -fx-background-color: #E58D57;
    -fx-text-fill: #FDEBAE;
    -fx-font-size: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#exit {
    -fx-text-fill: #FD824E;
    -fx-font-size: 12;
}

#exit:hover {
    -fx-underline: true;
}