#pane {
    -fx-background-color: #191919;
    -fx-background-radius: 15 0 15 0;
    -fx-border-radius: 15 0 15 0;
}

#button {
    -fx-alignment: center;
    -fx-background-radius: 5;
    -fx-background-color: NULL;

    -fx-font-size: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#label1 {
    -fx-text-fill: #FDEBAE;
}

#txtArea {
    -fx-background-color: #FDEBAE;
}

#txtArea .content {
    -fx-background-color: #FDEBAE;
}

#txtArea .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

#enterText {
    -fx-background-color: #FDEBAE;
}


.label {
    -fx-text-fill: #E58D57;
}

#exit {
    -fx-background-color: #E58D57;
}
